.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.containerb{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cardDesign{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: 450;
    transition: all linear 200ms;
    margin: 10px;
    margin-bottom: 50px !important;
    background-color: aliceblue;
}

.card-body{
    background-color: aliceblue;  
}

.cardDesign:hover{
    cursor: pointer;
    transform: scale(1,1);
    transform: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.card{
    border: none !important;
}

h1{
    color: azure;
}

button{
    background-color: #7C97BB;
    width: 20%;
}