/* Colors */
body {
    background-color: #ece0e8;
  }


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
  .artboard {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 300px;
  }
  
  @media (max-width: 600px) {
    .artboard {
      padding: 1rem;
    }
  }

  
/* Reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Root Font Size */
  html {
    font-size: 62.5%;
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; /* 1rem = 9px */
    }
  }
  
  @media (max-width: 900px) {
    html {
      font-size: 50%; /* 1rem = 8px */
    }
  }
  
  @media (min-width: 1800px) {
    html {
      font-size: 75%; /* 1rem = 12px */
    }
  }
  
  /* Body */
  body {
    height: 100vh;
    background-color: #ece0e8;
  }
  
  /* Card */
  .card {
    position: relative;
    height: 25rem;
    width: 18rem;
    perspective: 200rem;
    margin: 2rem;
  }
  
  .card__side {
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    transition: all 0.8s ease;
  }
  
  .card__side--front {
    background-image: linear-gradient(
        to right bottom,
        rgba(30, 11, 54, 0.65),
        #7C97BB
      ),
      url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
  
  .card__side--back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  
  /* Card Theme */
  .card__theme {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  
  .card__theme-box {
    color: #fff;
    margin-bottom: 8rem;
  }
  
  .card__subject {
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .card__title {
    font-family: "VT323", monospace;
    font-weight: 100;
  }
  
  /* Card Cover */
  .card__cover {
    position: relative;
    background-size: cover;
    height: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(
        to top right,
        rgba(30, 11, 54, 0.65),
        #7C97BB
      ),
      url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
  
  /* Card Heading */
  .card__heading {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  
  .card__heading-span {
    font-family: "VT323", monospace;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: #fff;
  }
  
  /* Card Details */
  .card__details {
    font-family: "Inconsolata", monospace;
    padding: 1rem 2rem;
  }
  
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  
  .card__details ul li {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  
  /* Responsive Styling */
  @media (max-width: 600px), (hover: none) {
    .card {
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }
  
    .card__side {
      box-shadow: none;
    }
  
    .card__side--back {
      transform: rotateY(0);
    }
  
    .card:hover .card__side--front {
      transform: rotateY(0);
    }
  
    .card__details {
      padding: 3rem 2rem;
    }
  
    .card__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }
  
    .card__theme-box {
      margin-bottom: 1.5rem;
    }
  
    .card__title {
      font-size: 4rem;
    }
  }
  

  