/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-image: url('assets/images/clouds.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
    background-position: center; /* Centers the image */
  }